/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ;
}
html {
    scroll-behavior: smooth;
  }
/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Header */
header {
    background-color: #2c3e50;
    color: white;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}

nav a:hover {
    color: #3498db;
}

/* About Section */
#about {
    padding: 2rem;
    text-align: center;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 1rem 0;
}

/* Projects Section */
#projects {
    padding: 2rem;
    background-color: #f4f4f4;
    text-align: center;
}

.project-list {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.project {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.project a{
    text-decoration: none;
    color: black;
}
.project img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #3498db;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}